@import '~bootstrap/scss/bootstrap';
@import './_utils';

#root {
  height: 100%;
  overflow-x: hidden;
}

.dark {
  @include darkStyles;
}

.light {
  @include lightStyles;
}

body,
#root {
  background-color: var(--body-bgColor) !important;
}
.mainWrapper {
  color: var(--text-color) !important;
}

header {
  background-color: var(--element-color) !important;
  h4 {
    color: var(--text-color) !important;
  }
}

input,
.input-pre,
select {
  background-color: var(--element-color) !important;
  color: var(--text-color) !important;

  &::placeholder {
    color: var(--text-color) !important;
  }
}

select.form-select {
  background-image: var(--arrow-color);
  // background-image: none;
}

.card {
  border: none;

  & > a {
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--element-color) !important;
    color: var(--text-color) !important;
    border: none;
  }
}

@include xs {
  .__search-bar {
    width: 100%;
  }
  .__filter-select {
    width: 50%;
  }
}
// @include sm {}
// @include md {}
@include lg {
  .__search-bar {
    width: 75%;
  }
  .__filter-select {
    width: 25%;
  }
}
